<h3>内容</h3>
<ul class="toggle">
    <li class="icn_new_article"><a href="#">新文章</a></li>
    <li class="icn_edit_article"><a href="#">文章管理</a></li>
    <li class="icn_categories"><a href="#">分类管理</a></li>
</ul>
<h3>媒体</h3>
<ul class="toggle">
    <li class="icn_folder"><a href="#">文件管理</a></li>
    <li class="icn_photo"><a href="#">附件</a></li>
    <li class="icn_audio"><a href="#">音频</a></li>
    <li class="icn_video"><a href="#">视频</a></li>
</ul>
<h3>站点</h3>
<ul class="toggle">
    <li class="icn_settings"><a href="#">选项</a></li>
    <li class="icn_security"><a href="#">安全</a></li>
    <li class="icn_jump_back"><a href="#">登出</a></li>
</ul>
